DATASOURCE_TYPE=s3
DATASOURCE_S3_ACCESS_KEY_ID=
DATASOURCE_S3_SECRET_ACCESS_KEY=
DATASOURCE_S3_BUCKET=
DATASOURCE_S3_REGION=auto
DATASOURCE_S3_ENDPOINT=
POSTGRESQL_PASSWORD=
CORE_SECRET=
CORE_RETURN_HTTPS_URLS=true
PUBLIC_AUTHORIZATION=""