{
	admin off

	servers {
		trusted_proxies cloudflare
		trusted_proxies_strict
		client_ip_headers X-Forwarded-For X-Real-IP
	}
}

www.sus.link {
	redir sus.link{uri}
}

sus.link {
	handle_path / {
		root * /srv
		rewrite * /index.html
		file_server
	}

	handle {
		@noAuth not header Authorization *

		header_up @noAuth {
			Authorization "{$PUBLIC_AUTHORIZATION}"
		}

		reverse_proxy zipline:3000
	}
}
